@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@font-face {
	font-family: "Nobel";
	src: url("./Nobel.woff") format("woff")
  }
body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Montserrat;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
	display: flex;
	flex-direction: column;
	justify-content:flex-end;
	align-items: center;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1;
	/* TODO Solve this in HTML */
}

a,
button,
input,
select {
	pointer-events: auto;
}

.lil-gui {
	z-index: 2 !important;
	/* TODO Solve this in HTML */
}

@media all and (max-width: 640px) {
	.lil-gui.root {
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.7);
}

#overlay button {
	background: transparent;
	border: 0;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 4px;
	color: #ffffff;
	padding: 12px 18px;
	text-transform: uppercase;
	cursor: pointer;
}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}

.interact {
	height: 40px;
	width: 40px;
	background-color: transparent;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 80%;
	left: 50%;
	border-radius: 8px;
	display: flex;
}

.circular-progress {
	position: relative;
	height: 100%;
	width: 100%;
	/* border-radius: 50%; */
	border: 3.5px solid;

	border-image-slice: 1;
	display: grid;
	place-items: center;
}

/* .circular-progress:before {
	content: "";
	position: absolute;
	height: 84%;
	width: 84%;
	background-color: #fcfcfc;
	border-radius: 50%;
} */

.value-container {
	position: relative;
	font-size: 15px;
	color: #231c3d;
}

.modal {
	/* background-color: white; */
	z-index: 5;
	display: none;
	position: absolute;
	top:5vh;

	margin:auto;
	width: 85vw;
	height: 95vh;
	max-height: 95vh;
	overflow-y: auto;

	background-color:white;
	/* opacity: 0; */
	/* transition: ; */
}

.modal_header{
	background-color:white;
	/* position: absolute; */
	top:0;
	/* height: 20%; */
	width: 90%;
	max-height: 95vh;
	/* overflow-y: auto; */
	padding: 30px 10px 10px;
	color: #111;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif ;
	line-height: normal;
}

.modal_header > .modal_cn{
	font-family: 'cwTeXYen', sans-serif;
}

.modal_cn.text{
	font-size:16.5px;
	line-height: 20.5px;
}

.modal_header > p{
	font-size: 16px;
	color: #555;
	padding-left: 1px;
	padding-bottom: 32px;
	margin: unset;
}

.modal_header > iframe{
	position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90%;
}

.modal_header > video{
	position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90%;
}

embed{
	width: 100%;
	height: 120%;
}

/* .img_container{
	width: 90%;
	height: 80%;
	padding-bottom: 30px;
} */

.detail_img{
	/* position: relative; */
	width: 90%;
	height: 70%;
	position: relative;
  left: 50%;
  transform: translateX(-50%);
	object-fit: contain;
	padding-bottom: 20px;
}
.detail_pdf{
	/* position: relative; */
	/* width: 100%;
	height: 100%; */
	position: relative;
  left: 50%;
  transform: translateX(-50%);
	object-fit: contain;
	/* padding-bottom: 20px; */
}
.big_pdf{
	/* position: relative; */
	width: 100%;
	height: 200%;
	position: relative;
  left: 50%;
  transform: translateX(-50%);
	object-fit: contain;
	/* padding-bottom: 20px; */
}

/* .hide{
	z-index: -5;
	opacity: 0;
	animation: hide .5s;
	transform: scale(0);
}@keyframes hide{
	from{
		z-index: 5;
		transform: scale(1);
		opacity: 1;
	}to{
		z-index: -5;
		transform: scale(0);
		opacity: 0;
	}
} */
.modal.show {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
	opacity: 1;
	animation: show .3s;
	transform: scale(1);
}

@keyframes show {
	from {
		transform: scale(0);
		opacity: 0;
	}

	to {
		transform: scale(1);
		opacity: 1;
	}
}

.close{
	margin: unset;
	position: absolute;
	
	right: 15px;
	top:10px;
	color:#000;
	opacity: 0.3;
	font-size: 24px;
	
}

.close:hover{
	opacity: 1;
	cursor: pointer;
}

.container{
	display: none;
	/* background: rgba(255, 255, 255, 0.5); */
	color: #eeeeee;
	width: 80vw;
	height: fit-content;
	padding: 15px;
	border-radius: 15px;
	position: absolute;
	transform: translate(-50%, -50%);
	z-index: 5;
	top: 50%;
	left: 50%;
}

.container.show{
	display: block;
}

.container .close{
	position: unset;
	color: #eeeeee;
	opacity: 1;
	position:absolute;
	right:0px;
	top:0px;
}

#music {
	/* background-color: white; */
	z-index: 5;
	display: none;
	position: absolute;
	top:20%;
	transform: translateY(-50%);
	margin:auto;
	/* width: 300px;
	height: 300px; */
	background-color:transparent
}
#paintUI {
	/* background-color: white; */
	z-index: 5;
	display: none;
	position: absolute;
	top:30%;
	transform: translateY(-50%);
	margin:auto;
	/* width: 300px;
	height: 300px; */
	background-color:transparent
}


#paintUI > p{
	border: 3px solid white;
	border-radius: 8px;
	color: white;
	font-size: 16px;
	padding: 10px;
	margin: 10px;
	width: 400px;
	/* height: 25px; */
	text-align: center;
}

#paintUI > p:hover{
	cursor: pointer;
}
#paintUI > .close{
	position: unset;
	color: white;
	opacity: 1;
	position:absolute;
	right:10px;
	top:-20px;
}


#paintUI.show {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 1;
	animation: show .3s;
	transform: scale(1);
}
#travelatorUI {
	/* background-color: white; */
	z-index: 5;
	display: none;
	position: absolute;
	top:30%;
	transform: translateY(-50%);
	margin:auto;
	width: 400px;
	/* height: 300px; */
	background-color:transparent
}


#travelatorUI > p{
	/* border: 3px solid white; */
	/* border-radius: 8px; */
	color: white;
	font-size: 16px;

	width: 400px;
	height: 25px;
}
#travelatorUI > .wing-button{
	display:inline-flex;
	border: 3px solid white;
	border-radius: 50%;
	color: white;
	font-size: 20px;
	padding: 10px;
	margin: 10px;
	width: 60px;
	height: 60px;
	justify-content: center;
	align-items: center;
}

#travelatorUI > .wing-button:hover{
	cursor: pointer;
}
#travelatorUI > .close{
	position: unset;
	color: white;
	opacity: 1;
	position:absolute;
	right:10px;
	top:-20px;
}


#travelatorUI.show {
	display: block;
	text-align: center;
	/* justify-content: center;
	align-items: center;
	flex-direction: column; */
	opacity: 1;
	animation: show .3s;
	transform: scale(1);
}

#music > p{
	border: 3px solid white;
	border-radius: 8px;
	color: white;
	font-size: 16px;
	padding: 10px;
	margin: 10px;
	width: 400px;
	/* height: 25px; */
	text-align: center;
}

#music > p:hover{
	cursor: pointer;
}
#music > .close{
	position: unset;
	color: white;
	opacity: 1;
	position:absolute;
	right:10px;
	top:-20px;
}

audio{
	margin-top: 30px;
}

#music.show {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 1;
	animation: show .3s;
	transform: scale(1);
}

#screen2{
	display:none;
}
#screen2.show{
	display:block;
}
#screen4{
	display:none;
}
#screen4.show{
	display:block;
}
#screen5{
	display:none;
}
#screen5.show{
	display:block;
}

#screenroom {
	/* background-color: white; */
	z-index: 5;
	display: none;
	position: absolute;
	top:20%;
	transform: translateY(-50%);
	margin:auto;
	/* width: 300px;
	height: 300px; */
	background-color:transparent
}
#screenroom > p{
	border: 3px solid white;
	border-radius: 8px;
	color: white;
	font-size: 16px;
	padding: 10px;
	margin: 10px;
	width: 400px;
	/* height: 25px; */
	text-align: center;
}

#screenroom > p:hover{
	cursor: pointer;
}
#screenroom > .close{
	position: unset;
	color: white;
	opacity: 1;
	position:absolute;
	right:10px;
	top:-20px;
}

#screenroom.show {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 1;
	animation: show .3s;
	transform: scale(1);
}

.card{
	color: #222;
	display:none;
	min-height:120px;
	width:180px;
	background: transparent;	
	border: 1.5px solid #999999;

	border-image-slice: 1;
	/* font-size: 18px; */
	padding: 10px;
	/* font-family: Helvetica, sans-serif ; */
	font-family:  'cwTeXYen', sans-serif ;
	/* z-index: -1; */
	line-height:normal;
}

.card p{
	margin: unset;
}

.card nobr{
	font-size: 14px;
}

.card .title{
	font-size: 18px;
	/* font-weight: 400;  */
}
.card .artist{
	font-size: 16px;
	font-family: 'cwTeXYen', sans-serif ;
}
.card .year{
	font-size: 14px;
	font-weight: 400;
}
.card .content{
	font-size: 14px;
	font-weight: 200;
}
.card .name{
	font-size: 15px;
	font-weight: 400;
}

.card.show{
	display: block;
}

.art-border.show{
	display:block;
}
.art-border{
	display:none;
	background: transparent;
}

.interact_progress{
	display:none;
	height:18px;
	width:18px;
	background: transparent;	
	border: 1px solid #fafafa;

	border-image-slice: 1;
}
.interact_progress.show{
	display: block;
}

.sign{
	color: #222;
	display:none;
	height:60px;
	width:80px;
	background: transparent;	
	font-size: 12px;
	font-weight: 100;
	/* z-index: -1; */
	font-family: Montserrat, sans-serif;
	line-height: normal;
}

.sign.show{
	display: block;
}
.interact_instruction{
	color: #222;
	display:none;
	width:200px;
	background: transparent;	
	font-size: 12px;
	/* z-index: -1; */
	font-family: Helvetica, sans-serif;
	line-height: normal;
	text-align: center;
}

.interact_instruction.show{
	display: block;
	animation: blink 2s 2;
}

@keyframes blink {
	0%,
	100% {
	  opacity: 1;
	}
	50%{
	  opacity: 0;
	}
  }

#css{
	pointer-events: none;
}
.spin-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	display: none;
	/* opacity: 0; */
	z-index: 5;
	pointer-events: none;
}

.spin-wrapper .spinner {
	position: absolute;
	height: 60px;
	width: 60px;
	border: 3px solid transparent;
	border-top-color: #ff1199;
	top: 50%;
	left: 50%;
	margin: -30px;
	border-radius: 50%;
	animation: spin 2s linear infinite;
}
.spin-wrapper .spinner:before, .spin-wrapper .spinner:after {
	content: '';
	position: absolute;
	border: 3px solid transparent;
	border-radius: 50%;
}
.spin-wrapper .spinner:before {
	border-top-color: #11ffee;
	top: -12px;
	left: -12px;
	right: -12px;
	bottom: -12px;
	animation: spin 3s linear infinite;
}
.spin-wrapper .spinner:after {
	border-top-color: #fffbfe;
	top: 6px;
	left: 6px;
	right: 6px;
	bottom: 6px;
	animation: spin 4s linear infinite;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
   }
	100% {
		transform: rotate(360deg);
   }
}

.dg.ac{
	z-index: 10;
}

.circle {
	height: 20px;
	width: 20px;
	background: transparent;
  	border-radius: 50%;
  	border: 2px solid white;
	display: none;
}

.circle.show{
	display: block;
}

.circle.grow{
	width: 60px;
	height: 60px;
	opacity: 0;
	transition: width .6s, height .6s, opacity .9s;
}

#blocker {
	position: absolute;
	width: 100%;
	height: 100%;
	/* background-color: rgba(0, 0, 0, 0.5); */
	z-index: 2;
}

#instructions{
	width: 500px;
	height: 530px;
	background: #eee;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #111;
	display: flex;
	border-radius: 10px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	font-size: 14px;
	/* cursor: pointer; */
	z-index: 3;
}

#instructions .title{
	margin: 16px;
	font-size: 24px;
}

#instructions .box{
	width: 90%;
	display: flex;
	flex-direction: row;
	padding-top: 12px;
}
#instructions .img-box{
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 6px;
	border-bottom: 1px solid #bbb;
}
#instructions .ch{
	font-family: 'cwTeXYen', sans-serif;
	font-size: 16px;
	width:50%;
	display: flex;
	align-items:flex-start;
	margin-right:12px;
	line-height: normal;
}
#instructions .en{
	width:50%;
	display: flex;
	align-items:flex-start;
	margin-right:12px;
	line-height: normal;
}

#instructions img{
	display: block;
	object-fit: contain;
}

#escape{
	position: absolute;
	top:10px;
	left:10px;
	width: 25px;
	height: 25px;
	opacity: 0.7;
}

.dot-flashing {
	position: relative;
	display: inline-block;
	top:40px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #666;
	/* color: #666; */
	animation: dot-flashing 0.8s infinite alternate;
	
  }

  .dot-flashing:nth-child(1){
	animation-delay: 0s;
  }
  .dot-flashing:nth-child(2){
	animation-delay: 0.4s;
  }
  .dot-flashing:nth-child(3){
	animation-delay: 0.8s;
  }
  
  @keyframes dot-flashing {
	0% {
	  opacity: 1;
	}
	50%, 100% {
	  opacity: 0.2;
	}
  }

  #start-button {
	display: none;
	position:absolute;
	bottom: 20px;
	outline:none;
	height: 40px;
	text-align: center;
	width: 130px;
	border-radius:40px;
	background: #fff;
	border: 1.5px solid #555;
	color:#555;
	letter-spacing:1px;
	text-shadow:0;
	font-size:12px;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.25s ease;
  }
  #start-button:hover{
	color:white;
	background: #555;
  }
  #start-button::after{
	content:"Start";
  }
  
  .wing-text-en{
	opacity: 0;
	transition: opacity .5s;
	color: #444;
	width:350px;
	font-size:15px;
	line-height: normal;
	/* display: none; */
  }
  .wing-text-en.show{
	opacity: 1;
	transition: opacity .5s;
	/* display: block; */
  }
  .wing-text-cn{
	transition: opacity .5s;
	color: #444;
	width:350px;
	font-size:16px;
	line-height: 18px;
	/* word-break: keep-all; */
	font-family: 'cwTeXYen', sans-serif;
	/* display: none; */
	opacity: 0;
  }
  .wing-text-cn.show{
	transition: opacity .5s;
	/* display: block; */
	opacity: 1;
  }


  .wing-title{
	color: #444;
	width:350px;
	font-size:36px;
	line-height: normal;
	font-family: 'Source Sans Pro';
	white-space: nowrap;
  }
  .wing-title-ch{
	color: #444;
	width:350px;
	font-size:36px;
	line-height: normal;
	font-family: 'cwTeXYen', sans-serif;
	white-space: nowrap;
  }
  .wing-title.invisible{
	display: none;
  }
  .wing-title-ch.invisible{
	display: none;
  }
  .wing-text-ui{
	margin-top: -10px;
	position: absolute;
	text-align: center;
	right:0;
	width: fit-content;
	padding: 0 5px;
	color: #444;
	font-size:15px;
	border: 1px solid #444;
	display: none;
  }
  .wing-text-ui-cn{
	margin-top: -10px;
	font-family: 'cwTeXYen', sans-serif;
	position: absolute;
	text-align: center;
	right:0;
	width: fit-content;
	padding: 0 5px;
	color: #444;
	font-size:15px;
	border: 1px solid #444;
  }

 